// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
// Variables
@import 'variables';
// Bootstrap
// @import '~bootstrap/scss/bootstrap';
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-20 {
    border-radius: 20px !important;
}

.item-home {
    color: #ffc107!important;
    background: #071933;
}

.dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border: none !important;
    z-index: 1050 !important;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
